 <% include partials/header %>

 <div id="landing-header">
        <h1>Welcome Earthling!</h1>
       <a href="/campgrounds" class="btn btn-success">View All Routes</a>
   </div>
   
   <ul class="slideshow">
     <li></li>
     <li></li>
     <li></li>
     <li></li>
     <li></li>
   </ul>

<% include partials/footer %>