.card img {
    width: 100%;
}

.container{
    margin-top: 2em;
}

.card-body{
    padding: 0;
}

.card-text{
    padding: 0 1em 0em 1em;
}

.card-subtitle{
    padding: 0 1em 0 1em;
}

#delete-form{
    display: inline;
}

.alert{
    border: 0;
    padding: 0.5rem 1.25rem;
}